body{
  background-image: url(loginbg.png);
  background-repeat: no-repeat;
  background-color:linear-gradient(to right, rgb(80, 82, 84), rgb(131, 133, 136), rgb(101, 102, 103));
  background-position: center;
  background-size: 100% 150%;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  color: white;
  margin: 0%;
}

header{
  background: rgba(213, 209, 209, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.222);
  backdrop-filter: blur( 4.5px );-webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  transition:background: 1s ;
}
.logo{
  display: flex;
}
 .body{
    display: flex;
  } 
  .container{
    width: 350px;
    height: 350px;
    margin:6% auto;
    backdrop-filter: blur( 4.5px );-webkit-backdrop-filter: blur( 4.5px );
    background: rgba(156, 201, 218, 0.55);
    box-shadow: 0 8px 32px 0 rgba(2, 9, 108, 0.222);
    padding:10px;
    border-radius: 15px;
    color: black;
  }

  .reg{
    padding:10px 40px 10px 40px;
    border-radius: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 20px 85px 20px 95px;
    font-size: 25px;
    font-weight: 700;
  }
.inputbox{
  border-radius: 40px;
  width: 80%;
  height: 25px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 8%;
  border: none;
}
.user{
  display: flex;
  gap:10px;
  margin-bottom: 10px;
}
.for{
  margin-top: 15px;
}
#submit{
  margin: 20px 85px 1px 110px;
  padding:10px 30px 10px 30px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 15px;
  border: none;
  background-color: rgb(177, 231, 231);
}
#submit:hover{
  text-decoration: underline;
}
.navtext{
  display: flex;
  align-items: center;
  font-size: large;
  gap: 10px;
  }