body {
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;
  background-image: radial-gradient(rgb(56, 189, 248), rgb(30, 64, 175));
  /* background-image: radial-gradient(rgb(56, 189, 248), rgb(49, 46, 129)); */
  /* radial-gradient(at center top, rgb(209, 213, 219), rgb(192, 38, 211), rgb(234, 88, 12)) */
  background-size: 100% 150%;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  margin: 0%;
  margin-bottom: 2%;
}

.head {
  background: rgba(213, 209, 209, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.222);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  transition: background 1s;
}

.head:hover {
  background: transparent;
  transition: background-color 1s;
}

.login {
  padding: 10px;
  font-size: large;
  font-weight: 300px;
  border-radius: 10px;
  background-color: antiquewhite;
  transition: background-color 1s;

}

.logo {
  display: flex;
}

.navtext {
  display: flex;
  align-items: center;
  font-size: large;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a.login {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.topic {
  font-size: 60px;
  font: weight 600px;
  ;
  align-items: center;
  text-align: center;


}

.intro {
  font-size: 20px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  gap: 50px;
  padding: 10px 0px 10px 0px;
  margin: 10px 10px 0px 10px;
}

.image {
  padding: 10px 10px 10px 10px;
  border: 10px 10px 0px 10px;;
  text-align: center;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.18);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
 
}
.image>h2{
  margin: 0%;
}
.image>img{
  clip-path: circle(50%);
}
footer{
  line-height: 40px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  gap:8px;
}